@media only screen and (max-width: 1500px) {

    .menu_top li {
        font-size: 23px;
    }

    .dropdown li {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) {

    #header,
    footer {
        height: 110px;
    }

    .menu_top li {
        font-size: 20px;
    }

    .dropdown li {
        font-size: 15px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    #logotext {
        font-size: 25px;
    }

    .logoFooter img {
        width: 45px;
        height: 45px;
    }

    .logotextFooter {
        font-size: 20px;
    }

    .main {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 1400px) {
    .logo img {
        width: 45px;
        height: 45px;
    }

    #logotext {
        font-size: 25px;
    }

    .logoFooter img {
        width: 36px;
        height: 36px;
    }

    .logotextFooter {
        font-size: 17px;
    }

    nav>ul>li>a {
        font-size: 20px;
    }

    .border .minititle {
        font-size: 24px;
    }

    .title {
        font-size: 24px;
    }

    .linkcolumn>a {
        font-size: 18px;
    }

}

@media only screen and (max-width: 1150px) {
    nav>ul>li>a {
        font-size: 18px;
    }

    .menu_top li {
        margin-right: 50px;
    }

    .border>form>p {
        font-size: 16px;
    }
    .two-columns p{
        font-size: 16px;
    }

    .button,
    .button1 {
        width: 120px;
        height: 35px;
        font-size: 14px;
        padding: 9px 10px;
    }
}

@media only screen and (max-width: 1090px) {

    nav>ul>li>a {
        font-size: 17px;
    }

    .menu_top li {
        margin-right: 40px;
    }

    .border {
        width: 70%;
        margin: 2% 15% 0 15%;
    }

}

@media only screen and (max-width: 992px) {
    .logo {
        margin-left: 8%;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }

    #logotext {
        font-size: 25px;
    }

    .logoFooter img {
        width: 36px;
        height: 36px;
    }

    .logotextFooter {
        font-size: 17px;
    }

    .dropdown li {
        font-size: 13px;
    }

    #header,
    footer {
        height: 100px;
    }

    .main {
        margin-top: 100px;
    }

    .two-columns {
        flex-wrap: wrap;
        gap: 4px;
    }

    .column {
        flex: 1 1 100%;
    }
}

@media only screen and (max-width: 894px) {
    nav>ul>li>a {
        font-size: 16.5px;
    }

    .menu_top li {
        margin-right: 35px;
    }

    .dropdown li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 834px) {
    .logo {
        margin-left: 7%;
    }

    nav>ul>li>a {
        font-size: 15px;
    }

    .menu_top li {
        margin-right: 30px;
    }

    .dropdown li {
        font-size: 13px;
    }

    .border {
        width: 80%;
        margin: 2.5% 10% 0 10%;
    }

    .border>form>p {
        font-size: 15px;
    }
    .two-columns p{
        font-size: 15px;
    }

    .border .minititle {
        font-size: 22px;
    }

    .title {
        font-size: 22px;
    }

    .linkcolumn>a {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 768px) {
    .menu_top {
        padding-top: 10px;
        display: none;
        width: 100%;
        height: 280px;
        position: fixed;
        top: 100px;
        left: 0;
    }

    nav {
        position: relative;
        padding: 0 0;
    }

    nav>ul {
        position: absolute;
        top: 63px;
        left: 31px;
        width: 100%;
        background-color: #aed60f;
        box-shadow: 0 3px 6px;
        border-radius: 0 0 15px 15px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    nav>ul>li {
        display: block;
    }

    nav>ul>li>a {
        display: block;
        padding: 5px 5px;
    }

    .menu_top li {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5px;
        text-align: center;
        display: block;
        align-items: flex-start;
        padding: 5px 0;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: #aed60f;
        min-width: 160px;
        z-index: 1;
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
    }


    .hamburger {
        display: block;
    }

    .added {
        margin-bottom: 14px;
    }

    .information p {
        font-size: 15px;
        padding: 3% 0 3% 25%;
    }

    .logoFooter img {
        width: 34px;
        height: 34px;
    }

    .logotextFooter {
        font-size: 16px;
    }
}

@media only screen and (max-width: 624px) {
    .linkcolumn {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 628px) {
    .hamburger {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 604px) {
    .linkcolumn {
        text-align: center;
    }

    .linkcolumn>a {
        font-size: 15px;
    }

    .logoFooter {
        padding-right: 7%;
    }

    .information>p {
        font-size: 14px;
        padding: 3% 0 3% 25%;
    }
}

@media only screen and (max-width: 508px) {
    .border {
        width: 90%;
        margin: 5% 5% 0 5%;
        padding: 15px;
    }

    .logoFooter {
        padding-right: 8%;
    }

    .information>p {
        font-size: 13px;
        padding: 3% 0 3% 25%;
    }
}

@media only screen and (max-width: 490px) {
    .logoFooter img {
        width: 34px;
        height: 34px;
    }

    .logoFooter {
        padding-right: 8%;
    }

    .logotextFooter {
        font-size: 16px;
    }

    .information>p {
        font-size: 12px;
        padding: 3% 0 3% 25%;
    }
}

@media only screen and (max-width: 484px) {
    .hamburger {
        margin-left: 180px;
    }
}

@media only screen and (max-width: 480px) {

    .hamburger {
        margin-left: 130px;
    }

    #header,
    footer {
        height: 80px;
    }

    .main {
        margin-top: 80px;
    }

    .menu_top {
        top: 80px;
        height: 280px;
    }

    .logoFooter img {
        width: 34px;
        height: 34px;
    }

    .logotextFooter {
        font-size: 16px;
    }

}

@media only screen and (max-width: 430px) {

    #header,
    footer {
        height: 60px;
    }

    .main {
        margin-top: 60px;
    }

    .hamburger {
        margin-left: 110px;
    }

    .biggif {
        margin-top: 60px;
    }

    .menu_top {
        top: 60px;
        height: 280px;
    }

    .menu_top>li>a {
        font-size: 15px;
    }

    .hamburger .line {
        width: 20px;
        height: 2px;
    }

    .logo img {
        width: 35px;
        height: 35px;
    }

    #logotext {
        font-size: 19px;
    }

    .logoFooter img {
        width: 24px;
        height: 24px;
    }

    .logotextFooter {
        font-size: 13px;

    }

    .information p {
        font-size: 9px;
        padding: 3% 0 3% 10%;
    }

    .logoFooter {
        padding-right: 2%;
    }

}

@media only screen and (max-width: 320px) {

    #header,
    footer {
        height: 60px;
    }

    .main {
        margin-top: 60px;
    }

    .hamburger {
        margin-left: 110px;
    }

    .menu_top {
        top: 60px;
        height: 270px;
    }

    .menu_top>li>a {
        font-size: 15px;
    }

    .hamburger .line {
        width: 20px;
        height: 2px;
    }

    .logo img {
        width: 35px;
        height: 35px;
    }

    #logotext {
        font-size: 19px;
    }

    .logoFooter img {
        width: 24px;
        height: 24px;
    }

    .logotextFooter {
        font-size: 13px;
    }

    .logoFooter {
        margin-right: 10%;
    }

    .border>form>p {
        font-size: 14px;
    }
    .two-columns p{
        font-size: 14px;
    }

    .border .minititle {
        font-size: 16px;
    }

    .title {
        font-size: 16px;
    }

    .linkcolumn>a {
        font-size: 14px;
    }
}